@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

footer{
  margin-top: 5%;
  width: 100%;
  text-align: center;
  background-color: black;
}
.nav-bar-header{
    background-color: red;

}
.nav-bar-header-lang{
  font-size: 14px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}
.nav-bar-header-menu{
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  padding: 20px;
}
.nav-bar{
  width: 100%;
  height: auto;
  background-color: black;
  margin-bottom: 5%;
  padding-bottom: 3%;
}
.nav-bar-categorys{
  text-align: center;
}
.index_title_news{
  font-size: 17px;
  font-weight: 300;
  text-align: left;
}

.index_url_country{
  font-size: 15px;
  padding-left: 5px;
}

.new_img_line{
  width: 100%;
  height: 65%;
  padding-top: 10px;
}
.new_img{
  width: 100%;
  height: 100%;
}
.new_title{
  font-size: 16px;
  font-weight: 600;
}
.new_title_category{
  font-size: 17px;
  font-weight: 400;
  color: black;
}
.new_creator_and_date{
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: -15px;
}
.new_description{
  font-size: 15px;
  font-weight: 300;
}
.footer-copyright{
  font-size: 15px;
  color: white;
}
.created-by{
  font-size: 13px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .nav-bar-header-menu{
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
  }
}